{% extends 'base.html' %} {% block title %}Help{% endblock %} {% block content
%}
<div>
  <h1>Controls</h1>
  <ul>
    <li>
      <h3>Graph Modes</h3>
      <p>
        In the top left corner click on the different graph modes; Zoom, Pan
      </p>
    </li>
    <li>
      <h3>Zoom</h3>
      <p>
        If the plot's drag mode is set to 'Zoom', click and drag on the plot to
        zoom-in and double-click to zoom-out completely. It will autoscale both
        axis
      </p>
    </li>
    <li>
      <h3>Pan</h3>
      <p>
        If the plot's drag mode is set to 'Pan', click and drag on the plot to
        pan and double-click to reset the pan.
      </p>
    </li>
    <li>
      <h3>Filter</h3>
      <p>
        On the legend located on the left of the graphs, click on the different
        items to filter them out.
      </p>
    </li>
  </ul>
</div>

{% endblock %}
